#bloc_page
{
    width: 90%; /*Définir en pourcentage permet d'adapter à l'écran de l'utilisateur*/
    margin: auto;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

form
{
    text-align: center;
}

#response
{
    display: flex;
    flex-direction: row;
    width: 70%; /*Définir en pourcentage permet d'adapter à l'écran de l'utilisateur*/
    margin: auto;
    text-align: center;
    align-items: center;
}

#wikipedia
{
    margin: 10px 10px 10px 10px;
}

#googlemaps
{
    margin: 10px 10px 10px 10px;
}
