{% extends 'base.html' %}

{% block content %}
    <div class = "row py-3">
        <form class = "col-12">
                <input class="col-md-4 offset-md-2 col-lg-3 offset-lg-3 my-1" type="text" name="request" id="request"/>
                <input class="col-md-4 col-lg-3 btn btn-primary" type="submit" value="Demander à Grand Py" id="button" />
        </form>
    </div>

    <div class = "row" id="presentation">
        <div class="col-md-8 offset-md-2">
            <p class = "text-center alert alert-primary">
                Bonjour mon petit poussin ! Je suis Grand Py Bot.<br />
                En toute modestie, je sais tout sur tout. Si tu veux avoir des informations sur un lieu, poses moi une question ! Et si tu es sage comme une image, je te raconterai une histoire.
            </p>
        </div>
    </div>

    <div id="response">
    </div>
{% endblock %}
