{% extends 'base.html' %}

{% block content %}
    <form>
        <p>
            <input type="text" name="request" id="request"/>
            <input type="submit" value="Demander à Grand Py" />
        </p>
    </form>

    <div id="response">
        <div id="wikipedia" style="display:none">
            <p id="text">

            </p>
        </div>
        <div id="googlemaps" style="display:none">
            <iframe id="map" width="500" height="350" frameborder="0" style="border:0" src="" allowfullscreen> <!-- The definition of the iframe from https://developers.google.com/maps/documentation/embed/guide?hl=fr -->
            </iframe>
        </div>
    </div>
{% endblock %}
